@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neumorphic-text {
  background: inherit;
  border-radius: 20px;
  text-shadow: 0px 0px 16px #b8c2cc, 0px 0px 16px #ffffff;
}

.neumorphic-box {
  border-radius: 50px;
  background: linear-gradient(145deg, #e69500, #ffb100);
  box-shadow: 20px 20px 60px #d98c00,
    -20px -20px 60px #ffbe00;
}

.card {
  width: 275px;
  height: 375px;
  border: 0;
  margin-inline: auto;
}

.bg-red-box {
  position: relative;
}

.bg-red-box::after {
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-red-box::after {
  background: linear-gradient(71deg, #0d1212, #e50606, #0d1212);
}


.card-title {
  text-align: center;
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  text-align: center;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 275px;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 2px solid transparent;
  width: 275px;
  height: 375px;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;

  img {
    margin-bottom: 32px;
  }
}

@keyframes expandShrink {

  0%,
  100% {
    width: 20%;
  }

  50% {
    width: 80%;
  }
}

@keyframes ballMovement {

  0%,
  100% {
    left: calc(0.2*715px);
  }

  50% {
    left: calc(0.80*715px);
  }
}

.animate-width {
  animation: expandShrink 5s linear infinite;
}

.animate-ball {
  animation: ballMovement 5s linear infinite;
}

.lead-card {
  position: relative;
  width: 275px;
  height: 375px;
  overflow: hidden;
  background-color: orange;
  border: 3px solid transparent;
  animation: borderAnimation 5s linear infinite alternate;
}

@keyframes borderAnimation {
  0% {
    border-left-color: black;
    border-top-color: orange;
    border-bottom-color: black;
    border-right-color: black;
  }

  25% {
    border-left-color: black;
    border-right-color: orange;
    border-bottom-color: black;
    border-top-color: black;
  }

  75% {
    border-left-color: black;
    border-top-color: black;
    border-bottom-color: orange;
    border-right-color: black;
  }

  100% {
    border-left-color: orange;
    border-top-color: black;
    border-bottom-color: black;
    border-right-color: black;
  }
}

.footer-bottom {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #fff200, #a023d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.box {
  width: 195px;
  height: 225px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
}

.wave {
  opacity: 1;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #e50606;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  transform-origin: 50% 48%;
  border-radius: 35%;
  animation: drift 10000ms infinite linear;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(#cd3d6d, 1),
      rgba(#68b0f8, 0) 80%,
      rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

.slider .slide {
  transform: translateX(calc((100vw - 1080px)/2));
}

.nextButton {
  border-radius: 50%;
  margin-right: 50px;
  transition: all linear 0.2s;
}

.nextButton > svg {
  width: 30px;
  height: 30px;
}

.nextButton:hover {
  background-color: red;
}

.nextButton:hover > svg > polygon{
  fill: white;
}

.previousButton {
  border-radius: 50%;
  margin-left: 50px;
  transition: all linear 0.2s;
}

.previousButton > svg {
  width: 30px;
  height: 30px;
}

.previousButton:hover {
  background-color: red;
}

.previousButton:hover > svg > polygon{
  fill: white;
}

.eventListItemShadow{
    /* --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
    --tw-shadow-color: #fca5a5;
    --tw-shadow: var(--tw-shadow-colored);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 100 100 #0000), var(--tw-ring-shadow, 100 100 #0000), var(--tw-shadow);
  
}


.backgroundEvents{
  background-size: 150rem ;
  background-image: url('./assets/images/upcomingEvents/backgroundImage.svg');
}
